<div class="bg">
    <h1 #title class="name title--display">Laetitia</h1>
    <div class="description">
        <h2 class="job subtitle--display">Front-end developer & designer</h2>
        <p class="job-description">I design and build digital experiences with care and curiosity. From visual design to user experience, I'm drawn to creating websites that feel approachable, considered, and enjoyable to browse.</p>
        <span class="scroll syncopate">Scroll <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 20L12 4" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M5 13L12 20L19 13" stroke="black" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></span>
        
    </div>
    <img class="profile-image" src="assets/profile.png" alt="Laetitia De Waele" draggable="false">
</div>