<div class="container pt-l">
    <div class="row position-relative">
        <div class="col-2 h-100 position-absolute timeline-line-container">
            <div class="timeline-line bg--primary w-100 h-100"></div>
        </div>

        <div class="col-lg-5 timeline-item-container">
            <div class="timeline-item">
                <h3 class="timeline-item__title syncopate">Robaws</h3>
                <p class="timeline-item__date syncopate color--white">2023<br class="rwd-break">- 2026</p>
                <ul class="timeline-item__description">
                    <li>Redesigning and improving the login and settings pages</li>
                    <li>Developing and maintaining front-end functionalities using GWT and Angular</li>
                    <li>Implementing features within a Scrum environment based on assigned tickets</li>
                    <li>Conducting code reviews and collaborating through Git-based workflows</li>
                    <li>Participating in pair programming and technical collaboration within the development team</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-5 timeline-item-container offset-lg-7">
            <div class="timeline-item">
                <h3 class="timeline-item__title syncopate">Exsited</h3>
                <p class="timeline-item__date syncopate color--white">2023</p>
                <ul class="timeline-item__description">
                    <li>Designing and developing websites based on client-provided or self-created designs</li>
                    <li>Creating additional pages and implementing enhancements within existing website designs</li>
                    <li>Translating client feedback into effective visual and technical solutions</li>
                    <li>Maintaining client communication throughout the design and development process</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-5 timeline-item-container">
            <div class="timeline-item">
                <h3 class="timeline-item__title syncopate">Opleiding Web Design & Development @ Howest</h3>
                <p class="timeline-item__date syncopate color--white">2021<br class="rwd-break">- 2023</p>
                <ul class="timeline-item__description">
                        <li>Developing responsive websites using HTML, CSS, JavaScript, and PHP</li>
                        <li>Combining web design and development within hands-on, project-based environments</li>
                        <li>Designing user-friendly interfaces with a strong focus on UX and accessibility</li>
                        <li>Building dynamic web applications with CRUD (Create, Read, Update, Delete) functionality</li>
                </ul>
            </div>
        </div>
    </div>
</div>