<div class="container mt-l mb-0 mb-sm-m mb-lg-l">
    <div class="row">
        <div class="col-12 bg">
            <div class="contact-info">
                <h2 class="syncopate color--white mb-4 mb-sm-m">Contact <br>me @</h2>
                <a href="mailto:laetitia.de.waele@outlook.com" class="contact-info__email syncopate color--white fs--xxl">laetitia.de.waele <br class="rwd-break">@outlook.com</a>
            </div>
            <div class="contact-socials">
                <ul class="contact-socials__list">
                    <li><a href="https://www.linkedin.com/in/laetitia-de-waele-12291224b" target="_blank" class="color--white syncopate">LinkedIn</a></li>
                    <li><a href="https://github.com/DeWaeleLaetitia" target="_blank" class="color--white syncopate">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>  
</div>
